// FKBC - Chat

html.has-full-page-chat {
  #main-outlet {
    min-width: 0;
    .full-page-chat {
      background: var(--secondary);
      width: 100%;
    }
  }
}

body.has-full-page-chat {
  .welcome-banner,
  .custom-search-banner-wrap {
    display: none;
  }
}

.dc-filter-input-container,
.channel-members-view__search-input-container {
  border-radius: var(--d-input-border-radius);
  &.is-focused {
    @include fkb-focus;
  }
}

input.channel-members-view__search-input,
.dc-filter-input-container .dc-filter-input {
  &:focus {
    box-shadow: none !important;
  }
}
